APP_ENV=local
APP_LOG=daily
APP_DEBUG=true
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=structure
DB_USERNAME=
DB_PASSWORD=

DBA_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.163.com
MAIL_PORT=25
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=LuminEe
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

RPC_DIR=
ONLINE_ALLOW=
MANAGE_PASSWORD=
THIRD_PARTY_HOST=