* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
}

.box {
    padding: 10px;
    margin: auto 0;
}

.light-in-bold {
    font-weight: lighter;
    font-size: 6px;
}

.upload-img {
    max-width: 100%;
}