* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Menlo,Monaco,Consolas,'Microsoft YaHei','宋体' !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
}

.box {
    padding: 10px;
    margin: auto 0;
}

.light-in-bold {
    font-weight: lighter;
    font-size: 6px;
}

.upload-img {
    max-width: 100%;
}

.border-radius-5 {
    border-radius: 5px
}

#notice-list > li > a > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.not-read > div {
    position: absolute;
    z-index: 99;
    background-color: red;
    width: 0.5em;
    height: 0.5em;
    left: 99%;
    top: -4px;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.table > tbody > tr > td {
    word-break: break-all;
}

/* Dispatcher Maps */
.edit-map:hover {
    cursor: pointer;
}

.sync-out:hover {
    cursor: pointer;
}